---
# kubeadm-config.yaml.j2
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: {{ ansible_hostname }}
  criSocket: unix:///run/containerd/containerd.sock
  taints: []
localAPIEndpoint:
  advertiseAddress: {{ hostvars[groups['control_plane'][0]]['ansible_host'] }}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: v{{ kubernetes_version }}
networking:
  serviceSubnet: {{ service_cidr }}
  podSubnet: {{ pod_network_cidr }}
controlPlaneEndpoint: "{{ control_plane_endpoint }}:6443"
apiServer:
  certSANs:
  - "{{ apiserver_cert_extra_sans }}"
  - "{{ ansible_hostname }}"
  - "{{ ansible_default_ipv4.address | default(ansible_host) }}"
  - "127.0.0.1"
controllerManager:
  extraArgs:
    bind-address: 0.0.0.0
scheduler:
  extraArgs:
    bind-address: 0.0.0.0
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd